.track-wrapper {
	padding: 16px;
}
.track img {
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	width: 264px;
	height: 264px;
}
.track img:hover {
	opacity: 0.5;
	-webkit-transition: opacity 0.15s ease-in-out;
	-moz-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}
.track {
	width: 280px;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.track-wrapper p {
	padding-top: 6px;
	padding-bottom: 32px;
}
@media screen and (min-width: 620px) {
	.track-wrapper {
		text-align: center;
	}
	.track {
		width: 260px;
	}

	.track img {
		width: 240px;
		height: 240px;
	}

	.track {
		display: inline-block;
		padding: 0px 12px;
	}
}